# Python virtual environment
.venv/

# Environment variables
.env

# SQLite database file
# news_digest.db - run via github actions needs to be updated every tiem the workflow runs.

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Editor temporary files
*.swp
*~
